td,
th{
  border: 1px solid black ;
  border-radius: 5px;
}

table{
  border-spacing: 5px;
}

.magistral{
  background-color: #bfbfbf;
}

.conf{
  background-color: #e5e6ff;
}

.general{
  background-color: #9798ca;
}

th{
  background-color: #b4c2cf;
}

.taller{
  background-color: #9699fe;
}

.tutorial{
  background-color: #91cdff;
}

.infomal{
  background-color: #cacbff;
}

td span{
  display: block;
}
